name: Redprofile

on:
  workflow_dispatch:    # Manual run
  schedule:             # Automatic re-run every 6 hours
    - cron: "0 */6 * * *"  # At minute 0, every 6th hour

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Unzip pocketoptionapi
      run: |
        unzip pocketoptionapi.zip -d ./


    - name: Run the bot
      env:
        SSID: ${{ secrets.SSID }}
      run: |
        python i_gachu_3.py
